{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post-title">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        </div>
        <div class="date">
                <p>{{ post.published_date }}</p>
        </div>
        <div class="post-text">
            {% autoescape off %}
                {{ post.text|linebreaksbr|truncatewords:30}}
            {% endautoescape %}
        </div>
    {% endfor %}
{% endblock %}