{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
<!--        <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>-->
        <div class="post-title">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        </div>
        <div class="date">
               <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
        </div>
        <div class="post-text">
            <p>{{ post.text|safe }}</p>
        </div>
    {% endfor %}
{% endblock %}