{% extends 'baseapp/base.html' %}
{% block content %}
<div id='title'><h3>E-resources</h3></div>


<div class="accordion" id="accordionExample">
  <div class="card" style="filter: drop-shadow(0 0 6px grey);">
    <div class="card-header bg-info" id="headingOne">
      <h2 class="mb-0" >
        <button class="btn  btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Engineering Mathematics
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
    	<ul><a href="https://drive.google.com/file/d/1gNKQBnmY5uAhSbyUOVLKzsbzMYdKyh8L/view?usp=sharing">BS Grewal</a></ul>
    	<ul><a href="https://drive.google.com/file/d/1Oc1idoNsAIip416Iuaq_26RYs85fbj80/view?usp=drivesdk">E. Kreyszig</a></ul>
    	<ul><a href="https://www.sites.google.com/site/hub2education">Hub 2 Education</a></ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Computer Programming
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul><a href="https://drive.google.com/file/d/19kA9E8EuSRk1SeMGRm2fhBoMS-qRuxUD/view?usp=drivesdk">Let Us C by Yashwant Kanetkar</a></ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-info" id="headingThree">
      <h2 class="mb-0">
        <button class="btn  btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Engineering Graphics
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <ul><a href="https://drive.google.com/file/d/1QXEUMha6FRG_TJk3XE005sR5J7l8bJB9/view?usp=drivesdk">N.D. Bhatt</a></ul>
        <ul><a href="https://drive.google.com/file/d/1eqtpc-gjik95iDCG2ySNHCzC3FRXHv3R/view?usp=sharing">ED Short Notes</a></ul>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn  btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Engineering Physics
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <ul><a href="https://drive.google.com/file/d/1Qi0683YXK2zPjYkn7U3av3i_6x05U-QA/view?usp=drivesdk">M.N Avadhanulu</a></ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-info" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Applied Mechanics
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <ul><a href="https://drive.google.com/file/d/1h05H58nfvuOdXQ0qiWCJGEibZoSSF8k2/view?usp=drivesdk">R.S Khurmi</a></ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn  btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Basic Electronics Engineering
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <ul><a href="https://drive.google.com/file/d/1qu-zlhyK6aNWG3oWGlrVq90lcSVVVsoy/view?usp=drivesdk">Electronics Devices and Circuit Theory by R.Boylestad</a></ul>
        <ul><a href="https://www.youtube.com/watch?v=7jaa1rlW7Ak&list=PLBlnK6fEyqRiw-GZRqfnlVIBz9dxrqHJS">NESO Academy</a></ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-info" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
         Communincation Skills
        </button>
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
       <ul><a href="#">Follow your Class Notes</a></ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingNine">
      <h2 class="mb-0">
        <button class="btn  btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Engineering Chemistry
        </button>
      </h2>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
      <div class="card-body">
        <ul><a href="https://drive.google.com/file/d/1m6gZrWvLB3Qu8SF4J58Bl1zVouHNgNbP/view?usp=sharing">Engineering Chemistry by Shashi Chawla</a></ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-info" id="headingTen">
      <h2 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Material Science and Engineering
        </button>
      </h2>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
      <div class="card-body">
       <ul><a href="https://drive.google.com/file/d/1Ei4EW_Tec7mE8kAdwqiU1mLOhzcVjVGO/view?usp=drivesdk">Material Science and Engineering - William D. Callister</a></ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEleven">
      <h2 class="mb-0">
        <button class="btn  btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Basic Electrical Engineering
        </button>
      </h2>
    </div>
    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
      <div class="card-body">
        <ul><a href="https://drive.google.com/file/d/1DAAV8l9CEPCeANVZAOMFDH3smT8AWnJ5/view?usp=drivesdk">Fundamental of Electric Circuits by Charles K Alexander and Mathew N.O. Sadiku</a></ul>
      </div>
    </div>
  </div>


</div>
{% endblock %}