{% extends 'baseapp/base.html' %}
{% block content %}
	
	<div id='title'><h3>Syllabus</h3>
	</div>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1YBVsejKTeFpmiJ5Aw8GEpG_PwU7cmZqD/view?usp=sharing" style="color: inherit;">First Year</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1dFTjX8wbuROEx3ewjsezU9pMfr_MxV5b/view?usp=sharing" style="color: inherit;">Computer Science Engg </a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/17lEm6H6z03LyKzlwO2Y9q395WTZw1Zwf/view?usp=sharing" style="color: inherit;">CSE Dual</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1WwcxzzphZ4Ftd1FvjhmaGZGg1-DMkudC/view?usp=sharing" style="color: inherit;">Mathematics and Computing</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1AyvggpryO0ZQrwS5ocvXpOSm7UeY0fqw/view?usp=sharing" style="color: inherit;">Electronics and Communication Engg</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1BEnTh8NE05pyq9wLQ_C7f9Bf0OVmKIct/view?usp=sharing" style="color: inherit;">ECE Dual</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://nith.ac.in/uploads/topics/15922924411291.pdf" style="color: inherit;">Electrical Engineering</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1_nl3qEqBtPdXL3bOenv4P6aLGY3Kt9jg/view?usp=sharing" style="color: inherit;">Mechanical Engineering</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1JrbZQnCeioWzF-yhcbsQTRrcGwb7QCCY/view?usp=sharing" style="color: inherit;">Civil Engineering</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1EK1rqsyH-hCRRple74YE-QSVCzdO2OBT/view?usp=sharing" style="color: inherit;">Chemical Engineering</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://nith.ac.in/uploads/topics/15923042017269.pdf" style="color: inherit;">Engineering Physics</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1OPa7VFA4vryJVBg_4EHs5plPbU_0vOnm/view?usp=sharing" style="color: inherit;">Material Science</a></h5>
	   	
	 </div>
	 <br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"><a href="https://drive.google.com/file/d/1hSOtSf-lP4LOo6vn9apYMCavwunmRRcA/view?usp=sharing" style="color: inherit;">Bachelor of Architecture</a></h5>
	   	
	 </div>
	 <br>


{% endblock %}